.edit-link{
	position: absolute;
	right: 0;
	top: auto;
	a{
		background-color: rgba(0,0,0,0.5);
		color: #fff;
		font-size: 11px;
		padding: 5px 8px;
		&:hover{
			background-color: rgba(0,0,0,1);
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
