html{
	height: 100%;
}
body{
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
     ####           #    #
    #               ##  ##
     ####           # ## #
         #          #    #
    #    #          #    #
     ####           #    #
 */
@include media-breakpoint-up(sm) {
}

/*
    #    #          #####
    ##  ##          #    #
    # ## #          #    #
    #    #          #    #
    #    #          #    #
    #    #          #####
 */
@include media-breakpoint-up(md) {
}

/*
    #                ####
    #               #    #
    #               #
    #               #  ###
    #               #    #
    ######           ####
 */
@include media-breakpoint-up(lg) {
}

/*
    #    #          #
     #  #           #
      ##            #
      ##            #
     #  #           #
    #    #          ######
 */
@include media-breakpoint-up(xl) {
}
