//
// Badges
// --------------------------------------------------
.badge-teal{
	@extend .bg-teal;
	color: #fff;
}
.badge-teal-darker{
	@extend .bg-teal-darker;
	color: #fff;
}
.badge-green{
	@extend .bg-green;
	color: #fff;
}
.badge-green-darker{
	@extend .bg-green-darker;
	color: #fff;
}
.badge-blue{
	@extend .bg-blue;
	color: #fff;
}
.badge-blue-darker{
	@extend .bg-blue-darker;
	color: #fff;
}
.badge-purple{
	@extend .bg-purple;
	color: #fff;
}
.badge-purple-darker{
	@extend .bg-purple-darker;
	color: #fff;
}
.badge-denim{
	@extend .bg-denim;
	color: #fff;
}
.badge-denim-darker{
	@extend .bg-denim-darker;
	color: #fff;
}
.badge-yellow{
	@extend  .bg-yellow;
	color: #fff;
}
.badge-yellow-darker{
	@extend .bg-yellow-darker;
	color: #fff;
}
.badge-orange{
	@extend .bg-orange;
	color: #fff;
}
.badge-orange-darker{
	@extend .bg-orange-darker;
	color: #fff;
}
.badge-red{
	@extend .bg-red;
	color: #fff;
}
.badge-red-darker{
	@extend .bg-red-darker;
	color: #fff;
}
.badge-gray-lighter{
	@extend .bg-gray-lighter;
	color: #000;
}
.badge-gray-light{
	@extend .bg-gray-light;
	color: #fff;
}
.badge-gray-dark{
	@extend .bg-gray-dark;
	color: #fff;
}
.badge-gray-darker{
	@extend .bg-gray-darker;
	color: #fff;
}
