$skin-gray-base:        #000 !default;
$skin-gray-darker:      lighten($skin-gray-base, 13.5%) !default; // #222
$skin-gray-dark:        lighten($skin-gray-base, 20%) !default;   // #333
$skin-gray:             lighten($skin-gray-base, 33.5%) !default; // #555
$skin-gray-light:       lighten($skin-gray-base, 46.7%) !default; // #777
$skin-gray-lighter:     lighten($skin-gray-base, 93.5%) !default; // #eee
$skin-gray-pastel: 		#cad7dc;
$skin-gray-pastel-dark: #9cb7c0;
$skin-red: 				#F15136;
$skin-khaki: 			#dfdbd4;
$skin-khaki-light: 		#ebe3cf;
$skin-yellow: 			#ffe35e;
$skin-green-pastel: 	#e3eed3;
$skin-green: 			#b3bd4a;
$skin-green-darker: 	#596617;
$skin-orange: 			#f98222;
$skin-orange-darker: 	#783a08;
$skin-magenta: 			#db518a;
$skin-teal: 			#1abc9c;
$skin-teal-darker: 		#16a085;
$skin-green: 			#2ecc71;
$skin-green-darker: 	#27ae60;
$skin-blue:				#3498db;
$skin-blue-darker: 		#2980b9;
$skin-purple: 			#9b59b6;
$skin-purple-darker: 	#8e44ac;
$skin-denim: 			#34495e;
$skin-denim-darker: 	#2c3e50;
$skin-yellow:		 	#f1c40f;
$skin-yellow-darker: 	#f39c12;
$skin-orange: 			#e67e22;
$skin-orange-darker: 	#d35400;
$skin-red: 				#e74c3c;
$skin-red-darker: 		#c0392b;
$skin-gray-lighter: 	#ecf0f1;
$skin-gray-light: 		#bdc3c7;
$skin-gray-dark: 		#95a5a6;
$skin-gray-darker: 		#7f8c8d;
