$skin-gray-base:        #000 !default;
$skin-gray-darker:      lighten($skin-gray-base, 13.5%) !default; // #222
$skin-gray-dark:        lighten($skin-gray-base, 20%) !default;   // #333
$skin-gray:             lighten($skin-gray-base, 33.5%) !default; // #555
$skin-gray-light:       lighten($skin-gray-base, 46.7%) !default; // #777
$skin-gray-lighter:     lighten($skin-gray-base, 93.5%) !default; // #eee

