.edit-link{
	position: absolute;
	right: 0;
	top: auto;
	a{
		background-color: rgba(0,0,0,0.5);
		color: #fff;
		font-size: 11px;
		padding: 5px 8px;
		&:hover{
			background-color: rgba(0,0,0,1);
		}
	}
}


/*
     ####           #    #
    #               ##  ##
     ####           # ## #
         #          #    #
    #    #          #    #
     ####           #    #
 */
@include media-breakpoint-up(sm) {
}

/*
    #    #          #####
    ##  ##          #    #
    # ## #          #    #
    #    #          #    #
    #    #          #    #
    #    #          #####
 */
@include media-breakpoint-up(md) {
}

/*
    #                ####
    #               #    #
    #               #
    #               #  ###
    #               #    #
    ######           ####
 */
@include media-breakpoint-up(lg) {
}

/*
    #    #          #
     #  #           #
      ##            #
      ##            #
     #  #           #
    #    #          ######
 */
@include media-breakpoint-up(xl) {
}
